.Ok-block {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
}

.Ok-block .Ok-key,
.Ok-block .Ok-Array-bracket,
.Ok-block .Ok-Object-bracket {
  color: #888;
}

.Ok-block .Ok-key::after {
  content: ':';
  padding: 0 5px;
}

.Ok-block .Ok-key {
  margin-left: 15px;
}
