.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  padding: 25px;
  flex: 0 0;
}

.App-error {
  display: block;
  color: red;
}

.App-body {
  background-color: hotpink;
  width: 100%;
  flex-grow: 1;
}

.App-Viewer-body {
  font-family: monospace !important;
  background: white;
  color: black;
  padding: 20px 10px;
  text-align: left;
  width: 100%;
}
